#contenitore{
  width: 600px;
  height: 400px;
  background-color: white;
}

 .primalinea{
  width: 197px;
  height: 266px;
  background-color: lightgrey;
  display: inline-block;
  margin-bottom: 30px
 }

 .secondalinea{
   width: 197px;
   height: 266px;
   background-color: lightgrey;
   display: inline-block;
 }

img{
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%
}

.etichettasconto{
  width: 20%;
  height:7%;
  background-color: red;
  position:relative;
  bottom: 84%;
  left:80%;
  text-align:center;
}
.etichettasconto:last-child{
  background-color: green
}

.cuore{
  text-align: center;
}
.cuore:hover{
  color: red;
  display: block
}
